# Go
*.test
/btta
/result

# Database
*.db
*.db-shm
*.db-wal

# Media
/media/

# Frontend
frontend/node_modules/
frontend-svelte/node_modules/
frontend/.env.local
internal/http/frontend/dist/*
!internal/http/frontend/dist/.gitkeep
